<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="preProcessorToLower" class="edu.school21.ex00.preProcessor.PreProcessorToLower"/>
  <bean id="preProcessorToUpperImpl"
    class="edu.school21.ex00.preProcessor.PreProcessorToUpperImpl"/>

  <bean id="rendererErrImplToLower" class="edu.school21.ex00.renderer.RendererErrImpl">
    <property name="preProcessor" ref="preProcessorToLower"/>
  </bean>
  <bean id="rendererErrImplToUpper" class="edu.school21.ex00.renderer.RendererErrImpl">
    <property name="preProcessor" ref="preProcessorToUpperImpl"/>
  </bean>
  <bean id="rendererStandardImplToLower" class="edu.school21.ex00.renderer.RendererErrImpl">
    <property name="preProcessor" ref="preProcessorToLower"/>
  </bean>
  <bean id="rendererStandardImplToUpper" class="edu.school21.ex00.renderer.RendererErrImpl">
    <property name="preProcessor" ref="preProcessorToUpperImpl"/>
  </bean>

  <bean id="printerWithTime" class=
    "edu.school21.ex00.printer.PrinterWithDateTimeImpl">
    <property name="renderer" ref="rendererErrImplToUpper"/>

  </bean>

  <bean id="printerWithPrefix" class=
    "edu.school21.ex00.printer.PrinterWithPrefixImpl">
    <property name="renderer" ref="rendererErrImplToUpper"/>
    <property name="prefix" value="Prefix"/>
  </bean>


</beans>
