<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">


  <bean id="printerWithDateTimeImpl" class="edu.school21.ex00.Printer.PrinterWithDateTimeImpl">
  </bean>


</beans>