<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:db.properties"/>

    <bean id="test" class="edu.school21.ex01.models.Test">
        <property name="url" value="${db.url}"/>
        <property name="user" value="${db.user}"/>
        <property name="password" value="${db.password}"/>
        <property name="driver" value="${db.driver.name}"/>
    </bean>
    <!--
    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
    <property name="jdbcUrl" value="${db.url}"/>
    </bean>

    <bean id="hikariDataSource" class="com.zaxxer.hikari.HikariDataSource">
        <constructor-arg ref="hikariConfig"/>
    </bean>

    <bean id="usersRepositoryJdbcImpl" class="edu.school21.ex01.repositories.UsersRepositoryJdbcImpl">

    </bean>

    <bean id="usersRepositoryJdbcTemplateImpl" class="edu.school21.ex01.repositories.UsersRepositoryJdbcTemplateImpl">

    </bean>
-->

</beans>
